{% extends "admin/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "admin:index" %}">Del Corso</a>
        &rsaquo; <a href="{% url "admin:store_product_changelist" %}">Товар</a>
        &rsaquo; Добавить цвета к товару
    </div>
{% endblock %}

{% block content %}
    <div class="custom-form">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <h4 for="id_product">Выберите товар:</h4>
                <div style="margin-left: 10px; margin-top: 5px;">
                    {{ form.product }}
                </div>
            </div>
            <div class="form-row">
                <h4 for="id_colors">Выберите цвет(а):</h4>
            </div>
            <div class="form-row">
                {{ form.colors }}
            </div>
            <button class="btn" type="submit" style="
                    background: #007BFF;
                    color: #FFF;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-top: 10px;
            ">Добавить цвет(а)</button>
        </form>
    </div>
{% endblock %}
