{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}
    <div style="display: flex; justify-content: flex-end; margin: 0 100px 20px 0">
            <a style="
                display: block;
                padding: 7px 12px;
                margin-right: 15px;
                background: var(--object-tools-bg);
                color: var(--object-tools-fg);
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: .5px;
                border-radius: 15px;
                border: 1px solid black;
                cursor: pointer;
               "
               href="bulk-update-product-size/"
            >
                Добавить размеры
            </a>
            <a style="
                display: block;
                padding: 7px 12px;
                margin-right: 15px;
                background: var(--object-tools-bg);
                color: var(--object-tools-fg);
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: .5px;
                border-radius: 15px;
                border: 1px solid black;
                cursor: pointer;
               "
               href="bulk-remove-seasons/"
            >
                Отключить сезоны
            </a>
    </div>
    {{ block.super }}
{% endblock %}
